/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

/* .listing {
    width: 100%;
    margin: auto;
}

.list {
    margin-top: 2%;
    width: 100%;
} */

.card {
    /* margin-top: 0%; */
    border: none;
}

.btn {
    display: inline-block;
    margin-left: 9%;
    margin-bottom: 3%;
}

@media screen and (max-width: 992px) {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .listing {
        width: 100%;
        margin: auto;
    }

    .list {
        margin-top: 2%;
        width: 100%;
    }

    .card {
        /* margin-top: 0%; */
        width: 100%;
    }
    .form-group {
        width: 100%;
        margin: auto;
    }
}