.card {
    width: 40%;
    margin: auto;
    margin-top: 5%;
}

@media screen and (max-width: 992px) {
    .card {
        margin-top: 5%;
        width: 100%;
        border: none;
        /* height: 90%; */
    }
    .form-group {
        padding-top: 20%;
    }
}